<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item-left">
        <%= link_to "#", class: "nav-wolf" do %>
          <%=  image_tag ""  %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "About Us", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Projects", "#", class: "nav-link" %>
      </li>
      <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "https://res.cloudinary.com/dzgkt799y/image/upload/v1599167415/AJH%20logo/white_outline_vyrz1c.png" %>
      <% end %>
      <li class="nav-item">
        <%= link_to "FAQ", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact Us", "#", class: "nav-link" %>
      </li>
      <li class="nav-item-right">
        <%= link_to "Partners", new_user_session_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
