<div class="project-container">
  <div class="project-content">
    <h2>
      <%= project.title %>
    </h2>
    <p>
      <%= project.company %>
    </p>
    <p>
      <%= project.specialty %>
    </p>
  </div>
  <div class="project-logo">
    <%= project.image_company_logo %>
  </div>
  <div>
    <p>
      <%= project.headline %>
    </p>
  </div>
</div>
