<div class="col-md-6 project-container">
  <div class="project-content">
    <h2>
      <%= project.title %>
    </h2>
    <p>
      <%= project.company %>
    </p>
    <p>
      <%= project.specialty %>
    </p>
  </div>
  <div class="project-logo">
    <% if  project.image_company_logo.attached?%>
      <%= project.image_company_logo %>
    <% else  %>
      <h1>No logo</h1>
    <% end %>
  </div>
  <div class="project-headline">
    <p>
      <%= project.headline %>
    </p>
  </div>
</div>
