<div class="col-md-6 project-container-info">
  <div class="project-card">
    <div class="col-sm-6 project-info">
      <ul>
        <h2>
          <%= project.title %>
        </h2>
        <p></p>
        <p>
          <%= "Company: #{project.company}"%>
        </p>
        <p>
          <%= "Type: #{project.specialty}" %>
        </p>
      </ul>
    </div>
    <div class="col-sm-6 project-logo">
      <% if  project.image_company_logo.attached?%>
        <%= project.image_company_logo %>
      <% else  %>
        <h1>No logo</h1>
      <% end %>
    </div>
  </div>
  <div class="col-sm-12 project-headline">
    <p>
      <%= project.headline %>
    </p>
  </div>
</div>
