  <%= render 'top' %>
  <div class="project_container">
    <% @projects.group_by{ |x| x.starts_at.strftime('%Y')}.sort.each do |year, project| %>
      <%= render 'date_project', year:year %>
      <% project.each_with_index do | info, index|  %>
        <% if index.even? %>
          <div class="project-info-pic">
            <%= render 'card_project', project:info  %>
            <%= render 'picture_project', project:info  %>
          </div>
        <% else %>
          <div class="project-info-pic">
            <%= render 'picture_project', project:info  %>
            <%= render 'card_project', project:info  %>
          </div>
        <% end %>
        <br>
      <%end %>
    <% end %>
  </div>
